<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Timeless beauty <span clsas="d-block">Modern design</span></h1>
                    <p class="mb-4">Discover a curated collection of timeless timepieces, blending precision craftsmanship with modern elegance, designed to elevate every moment of your journey.</p>
                    <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="images/montblanc_hero.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
<div class="container">
    <div class="row">

        <!-- Start Column 1 -->
        <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Featured watches</h2>
            <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
            <p><a href="shop.html" class="btn">Explore</a></p>
        </div> 
        <!-- End Column 1 -->

        <!-- Start Column 2 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#product">
                <img src="images/product_watches/product_watch_1_tag_heuer.png" class="img-fluid product-thumbnail">
                <h3 class="product-title">Tag Heuer Carrera Cal.16</h3>
                <strong class="product-price">$5,100</strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div> 
        <!-- End Column 2 -->

        <!-- Start Column 3 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#product">
                <img src="images/product_watches/product_watch_2_tissot.png" class="img-fluid product-thumbnail">
                <h3 class="product-title">Tissot Rose Dream 18K Gold</h3>
                <strong class="product-price">$3,560</strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div>
        <!-- End Column 3 -->

        <!-- Start Column 4 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#product">
                <img src="images/product_watches/product_watch_3_iwc.png" class="img-fluid product-thumbnail">
                <h3 class="product-title">IWC Portugieser Chronograph</h3>
                <strong class="product-price">$7,900</strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div>
        <!-- End Column 4 -->

    </div>
</div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <h2 class="section-title">Why Choose <b>WatchLand?</b></h2>
            <p>At WatchLand, we believe that every moment counts, and what better way to cherish those moments than with a timeless timepiece? Our commitment to quality, style, 
                and exceptional service sets us apart. Here’s why WatchLand is your ultimate destination for watches:</p>

            <div class="row my-5">
                <div class="col-6 col-md-6">
                    <div class="feature">
                        <div class="icon">
                            <img src="images/truck.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Fast &amp; Free Shipping</h3>
                        <p>We know you can’t wait to strap on your new watch. That’s why we offer fast and free shipping on all orders. Whether you're across the street or across the globe, 
                            your WatchLand timepiece will arrive at your doorstep in no time.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="feature">
                        <div class="icon">
                            <img src="images/bag.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Easy to Shop</h3>
                        <p>Finding the perfect watch should be a breeze. Our user-friendly website, detailed product descriptions, and high-quality images make it easy for you to explore
                             our collection and find the watch that matches your style and needs.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="feature">
                        <div class="icon">
                            <img src="images/support.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>24/7 Support</h3>
                        <p>Got a question? We’re here to help! Our dedicated customer support team is available around the clock to assist you with any inquiries, ensuring a seamless 
                            shopping experience from start to finish.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="feature">
                        <div class="icon">
                            <img src="images/return.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Hassle Free Returns</h3>
                        <p>We want you to be completely satisfied with your purchase. If for any reason you’re not happy with your watch, our hassle-free return policy makes it easy to exchange or 
                            return your item.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="img-wrap">
                <img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
            </div>
        </div>

    </div>
</div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="imgs-grid">
                <div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Untree.co"></div>
                <div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Untree.co"></div>
                <div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Untree.co"></div>
            </div>
        </div>
        <div class="col-lg-5 ps-lg-5">
            <h2 class="section-title mb-4">We Help You Find the Perfect Timepiece</h2>
            <p>We believe that a watch is more than just a tool to tell time—it’s a statement of your style, personality, and aspirations. Whether you’re looking for a classic design, a modern masterpiece, 
                or a sporty companion, we’re here to guide you in finding the perfect watch that suits your lifestyle.</p>          
        </div>
    </div>
</div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
 <!--
<div class="popular-product">
<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="images/product-1.png" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3>Nordic Chair</h3>
                    <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="images/product-2.png" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3>Kruzo Aero Chair</h3>
                    <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="images/product-3.png" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3>Ergonomic Chair</h3>
                    <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
-->
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
                        
                        <div class="carousel-inner testimonial-slider">
                            <div class="carousel-item active item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;The service was outstanding! From start to finish, everything was smooth, professional, and beyond expectations. I’ve never felt more valued as a customer. 
                                                    Highly recommend to anyone looking for reliability and quality!&rdquo;</p>
                                            </blockquote>
                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="images/person_2.jpg" alt="John Watson" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">John Watson</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;I was skeptical at first, but this completely changed my perspective. The attention to detail and customer care are unmatched. Everything was delivered on time, 
                                                    and the results were better than I imagined!&rdquo;</p>
                                            </blockquote>
                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="images/person_3.jpg" alt="David Blake" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">David Blake</h3>
                                                <span class="position d-block mb-3">District Manager, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;A truly exceptional experience! The team was helpful, knowledgeable, and always available to answer my questions. I’ve recommended them to all my colleagues, 
                                                    and I’ll definitely be coming back in the future!&rdquo;</p>
                                            </blockquote>
                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Maria Jones</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="testimonial-nav">
                            <button class="prev carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
                                <span class="fa fa-chevron-left carousel_button"></span>
                            </button>
                            <button class="next carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
                                <span class="fa fa-chevron-right carousel_button"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->


<!-- Start Blog Section -->
<div class="blog-section">
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
            <h2 class="section-title">Recent Blog</h2>
        </div>
        <div class="col-md-6 text-start text-md-end">
            <a href="#blog" class="more">View All Posts</a>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#">The new Seiko Diver - Funky Color</a></h3>
                    <div class="meta">
                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">March 19, 2025</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#">Got a DW as a gift? How to stay calm</a></h3>
                    <div class="meta">
                        <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Feb 15, 2025</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#">How to chose a women's watch</a></h3>
                    <div class="meta">
                        <span>by <a href="#">Sarah Tailor</a></span> <span>on <a href="#">Feb 12, 2025</a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- End Blog Section -->
