<div>

		<!-- Start Hero Section -->
			<div class="hero" style="padding-bottom: 55px; padding-top: 50px;">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop Watches</h1>
							</div>
						</div>	
						<!-- Search bar -->
						<div class="card mb-2 search_bar_container">
							<div class="card-body d-flex justify-content-between py-2">
								<div class="input-group input-group-lg search_icon_container">
									<span class="input-group-text border-0 px-1 search_icon" id="basic-addon2"><i class="fas fa-search fa-lg"></i></span>
									<input type="text" class="form-control form-control-lg rounded search_bar_input" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>	
						
					</div>					
				</div>
			</div>
		<!-- End Hero Section -->



<!-- Main Content Section -->
	<div class="product-section shop-product-section">
		<div class="container-fluid">
				<div class="row">
						<!-- Sidebar Filter Section -->
						<div class="col-lg-3 col-md-4 col-12 sidebar-filter" id="sidebarFilter">
								<!-- Close Button for Small Screens -->
								<button class="btn btn-close d-lg-none close_sidebar_btn" id="closeSidebar" aria-label="Close"></button>

								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle sort_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									  Sort
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									  <li class="d-flex justify-content-between">
											<a class="dropdown-item" href="#">Price: high to low</a>
											<i class="bi bi-sort-down sort_icon"></i>
										</li>
									  <li class="d-flex justify-content-between">
										<a class="dropdown-item" href="#">Price: low to high</a>
										<i class="bi bi-sort-up sort_icon"></i>
									</li>
									<li class="d-flex justify-content-between">
										<a class="dropdown-item" href="#">A to Z</a>
										<i class="bi bi-sort-alpha-down sort_icon"></i>
									</li>
									<li class="d-flex justify-content-between">
										<a class="dropdown-item" href="#">Z to A</a>
										<i class="bi bi-sort-alpha-up-alt sort_icon"></i>
									</li>
										<li class="d-flex justify-content-between">
											<a class="dropdown-item" href="#">Best selling</a>
										</li>
									</ul>
								  </div>

								<!-- Brand Filter Section -->
								<div class="accordion mb-3" id="brandFilter">
										<div class="accordion-item">
												<h2 class="accordion-header" id="brandHeading">
														<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#brandCollapse" aria-expanded="true" aria-controls="brandCollapse">
																Brands
														</button>
												</h2>
												<div id="brandCollapse" class="accordion-collapse collapse show" aria-labelledby="brandHeading" data-bs-parent="#brandFilter">
														<div class="accordion-body">
															<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand1">
																<label class="form-check-label" for="brand1">
																		Rolex
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand2">
																<label class="form-check-label" for="brand2">
																		Omega
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand3">
																<label class="form-check-label" for="brand3">
																		Patek Philippe
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand4">
																<label class="form-check-label" for="brand4">
																		Audemars Piguet
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand5">
																<label class="form-check-label" for="brand5">
																		Tag Heuer
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand6">
																<label class="form-check-label" for="brand6">
																		Breitling
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand7">
																<label class="form-check-label" for="brand7">
																		Cartier
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand8">
																<label class="form-check-label" for="brand8">
																		Seiko
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand9">
																<label class="form-check-label" for="brand9">
																		Tudor
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand10">
																<label class="form-check-label" for="brand10">
																		IWC Schaffhausen
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand11">
																<label class="form-check-label" for="brand11">
																		Jaeger-LeCoultre
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand12">
																<label class="form-check-label" for="brand12">
																		Hublot
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand13">
																<label class="form-check-label" for="brand13">
																		Panerai
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand14">
																<label class="form-check-label" for="brand14">
																		Longines
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand15">
																<label class="form-check-label" for="brand15">
																		Zenith
																</label>
														</div>
														<div class="form-check accordion-check">
															<input class="form-check-input" type="checkbox" value="" id="brand15">
															<label class="form-check-label" for="brand15">
																	Citizen
															</label>
														</div>
														<div class="form-check accordion-check">
															<input class="form-check-input" type="checkbox" value="" id="brand15">
															<label class="form-check-label" for="brand15">
																	Tissot
															</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand16">
																<label class="form-check-label" for="brand16">
																		Vacheron Constantin
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand17">
																<label class="form-check-label" for="brand17">
																		Breguet
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand18">
																<label class="form-check-label" for="brand18">
																		Richard Mille
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand19">
																<label class="form-check-label" for="brand19">
																		Blancpain
																</label>
														</div>
														<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="brand20">
																<label class="form-check-label" for="brand20">
																		Grand Seiko
																</label>
														</div>
														<div class="form-check accordion-check">
															<input class="form-check-input" type="checkbox" value="" id="brand20">
															<label class="form-check-label" for="brand20">
																	Casio
															</label>
														</div>
														</div>
												</div>
										</div>
								</div>

								<!-- Movement Type Filter Section -->
								<div class="accordion mb-3" id="movementFilter">
										<div class="accordion-item">
												<h2 class="accordion-header" id="movementHeading">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#movementCollapse" aria-expanded="false" aria-controls="movementCollapse">
																Movement Types
														</button>
												</h2>
												<div id="movementCollapse" class="accordion-collapse collapse" aria-labelledby="movementHeading" data-bs-parent="#movementFilter">
														<div class="accordion-body">
																<div class="form-check accordion-check">
																		<input class="form-check-input" type="checkbox" value="" id="movement1">
																		<label class="form-check-label" for="movement1">
																				Automatic
																		</label>
																</div>
																<div class="form-check accordion-check">
																		<input class="form-check-input" type="checkbox" value="" id="movement2">
																		<label class="form-check-label" for="movement2">
																				Quartz
																		</label>
																</div>
																<div class="form-check accordion-check">
																		<input class="form-check-input" type="checkbox" value="" id="movement3">
																		<label class="form-check-label" for="movement3">
																				Solar
																		</label>
																</div>
																<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="movement3">
																	<label class="form-check-label" for="movement3">
																			Hand-Winding
																	</label>
																</div>
																<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="movement3">
																	<label class="form-check-label" for="movement3">
																			Hybrid
																	</label>
																</div>
															</div>
												</div>
										</div>
								</div>

								<!-- Case Size Filter Section -->
								<div class="accordion mb-3" id="caseSizeFilter">
									<div class="accordion-item">
											<h2 class="accordion-header" id="caseSizeHeading">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caseSizeCollapse" aria-expanded="false" aria-controls="caseSizeCollapse">
															Case Sizes
													</button>
											</h2>
											<div id="caseSizeCollapse" class="accordion-collapse collapse" aria-labelledby="caseSizeHeading" data-bs-parent="#caseSizeFilter">
													<div class="accordion-body">
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="caseSize1">
																	<label class="form-check-label" for="caseSize1">
																			36mm and under
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="caseSize2">
																	<label class="form-check-label" for="caseSize2">
																			37mm - 40mm
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="caseSize3">
																	<label class="form-check-label" for="caseSize3">
																			41mm - 42mm
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="caseSize4">
																	<label class="form-check-label" for="caseSize4">
																			43mm - 44mm
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="caseSize5">
																	<label class="form-check-label" for="caseSize5">
																			45mm and over
																	</label>
															</div>
													</div>
											</div>
									</div>
								</div>

								<!-- Price Filter Section -->
								<div class="accordion mb-3" id="priceFilter">
									<div class="accordion-item">
											<h2 class="accordion-header" id="priceHeading">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#priceCollapse" aria-expanded="false" aria-controls="priceCollapse">
															Price
													</button>
											</h2>
											<div id="priceCollapse" class="accordion-collapse collapse" aria-labelledby="priceHeading" data-bs-parent="#priceFilter">
													<div class="accordion-body">
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="price1">
																	<label class="form-check-label" for="price1">
																			&lt $250
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="price2">
																	<label class="form-check-label" for="price2">
																		$250 - $500
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="price3">
																	<label class="form-check-label" for="price3">
																		$500 - $1000
																	</label>
															</div>
															<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="price4">
																<label class="form-check-label" for="price4">
																	$1000 - $2000
																</label>
															</div>
															<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="price5">
																<label class="form-check-label" for="price5">
																	$2000 - $5000
																</label>
															</div>
															<div class="form-check accordion-check">
																<input class="form-check-input" type="checkbox" value="" id="price6">
																<label class="form-check-label" for="price6">
																	&gt $5000
																</label>
															</div>
														</div>
											</div>
									</div>
								</div>

								<!-- Watch Style Filter Section -->
								<div class="accordion mb-3" id="watchStyleFilter">
									<div class="accordion-item">
											<h2 class="accordion-header" id="watchStyleHeading">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#watchStyleCollapse" aria-expanded="false" aria-controls="watchStyleCollapse">
															Watch Styles
													</button>
											</h2>
											<div id="watchStyleCollapse" class="accordion-collapse collapse" aria-labelledby="watchStyleHeading" data-bs-parent="#watchStyleFilter">
													<div class="accordion-body">
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle1">
																	<label class="form-check-label" for="watchStyle1">
																			Dress Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle2">
																	<label class="form-check-label" for="watchStyle2">
																			Sports Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle3">
																	<label class="form-check-label" for="watchStyle3">
																			Dive Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle4">
																	<label class="form-check-label" for="watchStyle4">
																			Pilot Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle5">
																	<label class="form-check-label" for="watchStyle5">
																			Casual Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle6">
																	<label class="form-check-label" for="watchStyle6">
																			Luxury Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle7">
																	<label class="form-check-label" for="watchStyle7">
																			Smartwatches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle8">
																	<label class="form-check-label" for="watchStyle8">
																			Chronograph Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle9">
																	<label class="form-check-label" for="watchStyle9">
																			Field Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="watchStyle10">
																	<label class="form-check-label" for="watchStyle10">
																			Minimalist Watches
																	</label>
															</div>
													</div>
											</div>
									</div>
								</div>

								<!-- Gender Filter Section -->
								<div class="accordion mb-3" id="genderFilter">
									<div class="accordion-item">
											<h2 class="accordion-header" id="genderHeading">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genderCollapse" aria-expanded="false" aria-controls="genderCollapse">
															Genders
													</button>
											</h2>
											<div id="genderCollapse" class="accordion-collapse collapse" aria-labelledby="genderHeading" data-bs-parent="#genderFilter">
													<div class="accordion-body">
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="gender1">
																	<label class="form-check-label" for="gender1">
																			Men's Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="gender2">
																	<label class="form-check-label" for="gender2">
																			Women's Watches
																	</label>
															</div>
															<div class="form-check accordion-check">
																	<input class="form-check-input" type="checkbox" value="" id="gender3">
																	<label class="form-check-label" for="gender3">
																			Unisex Watches
																	</label>
															</div>
													</div>
											</div>
									</div>
								</div>

						</div>

						<!-- Product Section -->
						<div class="col-lg-9 col-md-8 col-12 product-content">
								<!-- Filter Toggle Button for Small Screens -->
								<button class="btn btn-primary d-lg-none mb-3" id="toggleSidebar">
										Filter
								</button>

								<!-- Product Grid -->
								 <!-- First row -->
								<div class="row">
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_9_tissot_prx.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Tissot PRX Powermatic 50</h3>
											<strong class="product-price">$600</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div> 
									<!-- End Column 1 -->
										
									<!-- Start Column 2 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_2_tissot.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Tissot Rose Dream 18K Gold</h3>
											<strong class="product-price">$3,560</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div> 
									<!-- End Column 2 -->
				
									<!-- Start Column 3 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_3_iwc.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">IWC Portugieser Chronograph</h3>
											<strong class="product-price">$7,900</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div>
									<!-- End Column 3 -->
				
									<!-- Start Column 4 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_4_hamilton.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Hamilton Broadway Day Date Auto</h3>
											<strong class="product-price">$1,070</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div>
									<!-- End Column 4 -->
								</div>
								 <!-- End First row -->


								<!-- Second row -->
									<!-- Start Column 1 -->
									<div class="row">
										<div class="col-12 col-md-4 col-lg-3 mb-5">
											<a class="product-item" href="#product">
												<img src="images/product_watches/product_watch_5_rolex.png" class="img-fluid product-thumbnail">
												<h3 class="product-title">Rolex</h3>
												<strong class="product-price">$50.00</strong>
					
												<span class="icon-cross">
													<img src="images/cross.svg" class="img-fluid">
												</span>
											</a>
										</div> 
										<!-- End Column 1 -->
											
										<!-- Start Column 2 -->
										<div class="col-12 col-md-4 col-lg-3 mb-5">
											<a class="product-item" href="#product">
												<img src="images/product_watches/product_watch_6_omega.png" class="img-fluid product-thumbnail">
												<h3 class="product-title">Omega</h3>
												<strong class="product-price">$50.00</strong>
					
												<span class="icon-cross">
													<img src="images/cross.svg" class="img-fluid">
												</span>
											</a>
										</div> 
										<!-- End Column 2 -->
					
										<!-- Start Column 3 -->
										<div class="col-12 col-md-4 col-lg-3 mb-5">
											<a class="product-item" href="#product">
												<img src="images/product_watches/product_watch_7_citizen.png" class="img-fluid product-thumbnail">
												<h3 class="product-title">Citizen</h3>
												<strong class="product-price">$78.00</strong>
					
												<span class="icon-cross">
													<img src="images/cross.svg" class="img-fluid">
												</span>
											</a>
										</div>
										<!-- End Column 3 -->
					
										<!-- Start Column 4 -->
										<div class="col-12 col-md-4 col-lg-3 mb-5">
											<a class="product-item" href="#product">
												<img src="images/product_watches/product_watch_8_mido.png" class="img-fluid product-thumbnail">
												<h3 class="product-title">Mido</h3>
												<strong class="product-price">$43.00</strong>
					
												<span class="icon-cross">
													<img src="images/cross.svg" class="img-fluid">
												</span>
											</a>
										</div>
										<!-- End Column 4 -->
									</div>
									<!-- End Second Row -->


								 <!-- Third row -->
									<!-- Start Column 1 -->
								 <div class="row">
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_3_iwc.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">IWC Portugieser Chronograph</h3>
											<strong class="product-price">$50.00</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div> 
									<!-- End Column 1 -->
										
									<!-- Start Column 2 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_4_hamilton.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Hamilton Broadway Day Date Auto</h3>
											<strong class="product-price">$50.00</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div> 
									<!-- End Column 2 -->
				
									<!-- Start Column 3 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_1_tag_heuer.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Tag Heuer Carrera Cal.16</h3>
											<strong class="product-price">$78.00</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div>
									<!-- End Column 3 -->
				
									<!-- Start Column 4 -->
									<div class="col-12 col-md-4 col-lg-3 mb-5">
										<a class="product-item" href="#product">
											<img src="images/product_watches/product_watch_2_tissot.png" class="img-fluid product-thumbnail">
											<h3 class="product-title">Tissot Rose Dream 18K Gold</h3>
											<strong class="product-price">$43.00</strong>
				
											<span class="icon-cross">
												<img src="images/cross.svg" class="img-fluid">
											</span>
										</a>
									</div>
									<!-- End Column 4 -->
								</div>
								<!-- End Third Row -->
						</div>
				</div>
		</div>
	</div>
</div>

<script>
	// Toggle Sidebar on Small Screens
	document.getElementById('toggleSidebar').addEventListener('click', function () {
			document.getElementById('sidebarFilter').classList.toggle('active');
	});

	// Close Sidebar on Small Screens
	document.getElementById('closeSidebar').addEventListener('click', function () {
			document.getElementById('sidebarFilter').classList.remove('active');
	});
</script>